<div id="nav-wrapper">
    <ul id="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="label.dashboard"></span> </a></li>
		<li>
            <a href="#/referentiels"><i class="fa fa-magic"></i><span data-i18n="label.referentiels"></span></a>
            <ul>
                <li><a href="#/referentiels/operations"><i class="fa fa-caret-right"></i><span data-i18n="label.operations"></span></a></li>
                <li><a href="#/referentiels/accounts"><i class="fa fa-caret-right"></i><span data-i18n="label.accounts"></span></a></li>
            </ul>
        </li>
    </ul>
</div>